@{
    var theme = Context.Request.Cookies["theme"] ?? "default"; // Domyślny motyw "light", jeśli brak preferencji
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DziennikUcznia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DziennikUcznia.styles.css" asp-append-version="true" />

    <link id="theme-stylesheet" rel="stylesheet" href="~/css/@(theme)-theme.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap JS i Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    @* wybor motywu *@
    @if (theme == "light")
    {
        <link rel="stylesheet" href="~/css/light-theme.css" />
    }
    else if (theme == "dark")
    {
        <link rel="stylesheet" href="~/css/dark-theme.css" />
    }
    else if (theme == "default")
    {
        <!-- Nieznany motyw, możesz obsłużyć to odpowiednio -->
        <link rel="stylesheet" href="~/css/default-theme.css" />
    }
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Twój dzienniczek</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Strona Główna</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Wyloguj</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Zaloguj</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Zarejestruj</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Profile">Profil</a>
                        </li>


                        <!-- Rozwijana lista motywów z jQuery -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="themeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Wybierz motyw
                            </button>
                            <div class="dropdown-menu" aria-labelledby="themeDropdown">
                                <a class="dropdown-item" onclick="changeTheme('light')">Light </a>
                                <a class="dropdown-item" onclick="changeTheme('dark')">Dark </a>
                                <a class="dropdown-item" onclick="changeTheme('default')">Default </a>
                                <!-- Dodaj inne motywy według potrzeb -->
                            </div>

                            <!-- Dodaj inne elementy nawigacyjne, jeśli są potrzebne -->
                    </ul>
                </div>
            </nav>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        &copy; 2023 - DziennikUcznia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

<script>
    function changeTheme(selectedTheme) {
        // Ustaw wybrany motyw w ciasteczku
        document.cookie = "theme=" + selectedTheme;

        // Przeładuj stronę lub zastosuj zmiany dynamicznie
        location.reload();
    }
    //obsługa rozwijania listy
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>