
@{
    ViewBag.Title = "ForgotPasswordConfirmation";
}

<h2>ForgotPasswordConfirmation</h2>
<p>
    Check your email for a link to reset your password. If you don’t see it, please check your spam folder.
</p>
