@model DziennikUcznia.Models.User

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha384-d4aw3i1uPzApTi2D5C6e6OW9iH4eY5G9B6Rqyc/RhB8rZBx3BhDjby2l5M6cGbn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Dodaj poniższą linię przed zakończeniem sekcji <body> -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha384-MC8JmCY/KJs82UxTo2IIRUlsKwwqIzF7hRDm2Ij/s5Zo2zQc2veBCq3iCO5JN6d" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha384-Dfo0fsTZnEuDDzWFEIbh5wC5FMEoJif+5m9NGd7XxWm7Q2AyjI6Wb4Qd+oag8a9P" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pl.min.js" integrity="sha384-LZ9pr5CGxXoDM9yLY/ep3LZOvKGouRP/2aSLZBL1K7uWoKxR+QbcuOJUymYRRhMA" crossorigin="anonymous"></script>
</head>

<h2>Rejestracja</h2>

<form asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>    

    <div class="form-group">
        <label asp-for="Login"></label>
        <input asp-for="Login" class="form-control" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BirthDate"></label>
        <div class="input-group date">
            <input asp-for="BirthDate" class="form-control" autocomplete="off" />
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Roles" class="control-label"></label>
        <select asp-for="Roles" class="form-control selectpicker" data-live-search="true">
            <option value="">Wybierz rolę</option>
            @foreach (var role in ViewBag.Roles)
            {
                <option value="@role.Value">@role.Text</option>
            }
        </select>
        <span asp-validation-for="Roles" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Zarejestruj się</button>
</form>

<script>
    $(document).ready(function () {
        $('.date').datepicker({
            format: 'yyyy-mm-dd',
            language: 'pl',
            autoclose: true
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Ukryj rolę Admin w liście rozwijanej
        $('.selectpicker option:contains("Admin")').hide();
        $('.selectpicker').selectpicker('refresh');
    });
</script>
