@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="jumbotron">
        <h1>Wirtualny Dziennik Szkolny</h1>
        <p>Witaj w naszym wirtualnym dzienniku szkolnym!</p>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h2>Ogłoszenia</h2>
            <ul>
                @foreach (var announcement in Model.Announcements)
                {
                    <li>@announcement.Title - @announcement.Content</li>
                }
            </ul>
        </div>

        <div class="col-md-4">
            <h2>Linki szybkiego dostępu</h2>
            <ul>
                <li>@Html.ActionLink("Przeglądaj Oceny", "Grades", "Student")</li>
                <li>@Html.ActionLink("Twój Profil", "Profile", "Account")</li>
                <!-- Dodaj inne linki według potrzeb -->
            </ul>
        </div>
    </div>
</main>